html {
    background: whitesmoke;
}

body {
    background-color: #f0f3f2;
    max-width: 640px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 35px;
    color: white;
}

.qui-header {
    background-color: sienna;
    height: 60px;
}

.plcRouteList {
    margin-left: 5px;
}

.pic {
    border-radius: 50%;
}

.title {
    position: absolute;
    font-size: 18px;
    font-weight: bolder;
    color: white;
    top: 0px;
    left: 20px;
    white-space: nowrap;
    line-height: 40px;
    margin-left: 30px;
    
}

.bottom {
    position: absolute;
    top: 400px;
    left: 450px;
}

.face {
    float: left;
    border-radius: 50%;
    width: 39px;
    height: 39px;
    color: white;
    border: 1px solid white;
}

.day {
    position: absolute;
    top: 95px;
    right: 455px;
    border-radius: 50%;
    color: white;
    background-color: #2bab79;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
}

em {
    font-style: normal;
    font-weight: bolder;
}

.qui-aside {
    position: absolute;
    top:23px;
    left:240px;

    height: 900px;
    width: 200px;
    border: 1px solid rgb(131, 94, 40);
    background-color: rgba(58, 60, 66, 0.877);
}
.nav-aside  {
   padding:80px 10px ;
}

ul {
    list-style: none;
}

.nav-aside a {
    font-size: 20px;
    color: #ffffffd7;
    line-height: 40px;
    padding-left:20px;
    text-decoration: none;
    display: block;
}
.nav-aside a:hover{
    color: oldlace;
    background-color:rgb(120, 211, 211) ;
}
.qui-footer{
    
    line-height: 20px;
    text-align: center;
    height: 60px;
    background-color: hsla(0, 0%, 85%, 0.555);
}

.qui-footer a{
    text-decoration: none;
    color: rgba(192, 192, 192, 0.815);
    line-height: 60px;
    margin-left: 45px;
    font-size: 10px;
}