    html {
        background: #f5f5f5;
    }

    body {
        background-color: white;
        max-width: 640px;
        margin: 0 auto;
        width: 100%;
        /* position: relative; */
    }

    h1 {
        text-align: center;
        font-size: 35px;
        color: white;
        margin-top: 50px;
    }

    .qui-header {
        background-color: #2bab79;
        height: 60px;
    }

    .plcRouteList {
        margin-left: 5px;
    }

    .pic {
        border-radius: 50%;
    }

    .title {
        position: absolute;
        font-size: 18px;
        font-weight: bolder;
        color: white;
        top: 0px;
        left: 20px;
        white-space: nowrap;
        line-height: 40px;
        margin-left: 30px;
    }

    .bottom {
        position: absolute;
        top: 420px;
        left: 380px;
    }

    .face {
        float: left;
        border: 1px solid white;
        border-radius: 50%;
        width: 39px;
        height: 39px;
        /* color: white; */
    }

    .day {
        position: absolute;
        top: 110px;
        right: 390px;
        border-radius: 50%;
        color: white;
        background-color: #2bab79;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 35px;
    }

    em {
        font-style: normal;
        font-weight: bolder;
    }

    span {
        margin-left: 30px;
    }

    .qui-aside{
        height: 800px;
        width: 200px;
        border: 1px solid black;
        background-color: #2d3741;
    }

    ul{
        list-style: none;
    }

    .nav-aside a{
        font-size: 16px;
        color: #ce1d5c;
        text-decoration: none;

    }